:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-style {
  text-decoration: none;
  color: black;
}

.selected {
  text-decoration: underline;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-left: 7.5%;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  gap: 57px;
  font-style: normal;
  font-size: 24px;
  padding-right: 8%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  padding-top: 50px;
}

.image-section {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 50px;
  width: 85%;
}

.image-section h1 {
  position: absolute;
  width: 55%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
}

.mer {
  object-fit: cover;
  width: 100%;
  height: 223px;
  border-radius: 20px;
  filter: brightness(0.5);
}

.montagne {
  object-fit: cover;
  margin-top: 50px;
  width: 86%;
  height: 223px;
  border-radius: 20px;
  filter: brightness(0.7);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #f6f6f6;
  border-radius: 25px;
  width: 85%;
  row-gap: 40px;
}

.card {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}

.card h2 {
  position: absolute;
  bottom: 0;
  left: 10px;
  margin: 0;
  padding: 10px;
  color: white;
}

.img_logements {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 340px;
}

.apropos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.collapse_container {
  height: 54px;
  width: 70%;
  background-color: #ff6060;
  border-radius: 5px;
}

.collapse_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 24px;
  font-weight: 700;
  background-color: #ff6060;
  color: white;
}

.collapse_content {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 65px;
  padding-bottom: 15px;
  background-color: #f6f6f6;
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}

.collapse_content.open {
  max-height: 100px;
  opacity: 1;
}

.collapse_content.closed {
  max-height: 0;
  opacity: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  background-color: black;
  width: 100%;
  height: 209px;
  margin-top: 50px;
  color: white;
}

footer p {
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/****** Mobile *****/

@media (max-width: 1024px) {
  nav {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
  }

  nav a {
    margin-right: 15px;
  }

  .banner {
    padding-top: 30px;
    margin-right: -8px;
  }

  .banner img {
    width: 145px;
  }

  .image-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .image-section img {
    height: 120px;
  }

  .image-section h1 {
    font-size: 24px;
    left: 42%;
    width: 70%;
  }

  .gallery {
    background-color: white;
    grid-template-columns: 1fr;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .img_logements {
    height: 255px;
  }

  .montagne {
    height: 120px;
  }
}
