.img_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.img_detail {
  object-fit: cover;
  width: 86%;
  height: 415px;
  border-radius: 25px;
}

.section_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.section_details h1 {
  color: #ff6060;
  font-size: 36px;
  margin-bottom: -25px;
}

.section_details p {
  font-size: 18px;
  font-weight: 500;
}

.section_details .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  background-color: #ff6060;
  width: 115px;
  height: 25px;
  border-radius: 10px;
}

.div_tags {
  display: flex;
  font-size: 14px;
  color: white;
  gap: 15px;
}

.host_rating {
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  color: #ff6060;
  width: 20%;
  gap: 15px;
}

.host_img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.dropdown_details {
  display: flex;
  justify-content: center;
  column-gap: 6%;
}

.collapse_details {
  background-color: #ff6060;
  border-radius: 10px;
  width: 40%;
  height: 52px;
}

/****** Mobile *****/

@media (max-width: 767px) {
  .img_section {
    height: 255px;
    padding-top: 30px;
  }

  .img_detail {
    width: 90%;
    border-radius: 10px;
  }

  .section_details {
    flex-direction: column;
  }

  .section_details h1 {
    font-size: 18px;
    padding-bottom: 15px;
  }

  .section_details p {
    font-size: 14px;
  }

  .host_rating {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .HostIMG {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }

  .host_rating h2 {
    font-size: 12px;
  }

  .dropdown_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .collapse_details {
    width: 90%;
  }
}
