.logements {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logements .Carousel {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

.logements .Carousel .logement_img {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
  margin-top: 50px;
}

.logements .carousel_button_left {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 80px;
  color: white;
  cursor: pointer;
}

.logements .carousel_button_right {
  position: absolute;
  top: 55%;
  right: 1%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 80px;
  color: white;
  cursor: pointer;
}

.carousel_indicator {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

.logements .logements_details {
  display: flex;
  justify-content: space-between;
  width: 85%;
  font-family: "Montserrat";
}

.logements_info h1 {
  color: #ff6060;
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: -20px;
}

.logements_info p {
  font-size: 18px;
  font-weight: 500;
}

.div_tags {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  gap: 10px;
}

.div_tags .tags {
  background-color: #ff6060;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4% 0.8%;
  padding-top: 0.5%;
  border-radius: 10px;
}

.host_detail {
  display: flex;
  margin-top: 20px;
  gap: 10%;
}

.host_text {
  width: 70px;
  font-size: 18px;
  color: #ff6060;
  text-align: end;
  margin-top: 12px;
}

.host_img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.logements .dropdown_details {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.logements .dropdown_details .Collapse_container {
  width: 45%;
  margin: 1% 0;
}

.collapse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  cursor: pointer;
  padding: 0 18px;
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat";
}

.logements .dropdown_details .Collapse_container .Active,
.collapse:hover {
  background-color: #a52a2a;
}

.logements .dropdown_details .Collapse_container .content {
  font-size: 18px;
  width: auto;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  background-color: #f6f6f673;
}

.Rating {
  width: 150px;
  color: #e3e3e3;
  font-size: 24px;
}

.Rating .Star {
  padding: 1%;
}

.Rating .Color {
  color: #ff6060;
}

/****** Mobile *****/

@media screen and (max-width: 767px) {
  .logements .Carousel .logement_img {
    height: 255px;
    border-radius: 10px;
    margin-top: 25px;
  }

  .logements .carousel_button_left {
    font-size: 20px;
  }

  .logements .carousel_button_right {
    font-size: 20px;
  }

  .carousel_indicator {
    display: none;
  }

  .logements .logements_details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .logements_info h1 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
  }

  .logements_info p {
    font-size: 14px;
  }

  .logement_host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
  }

  .host_detail {
    margin: unset;
  }

  .Rating {
    margin-top: 0;
    font-size: 15px;
  }

  .host_text {
    font-size: 12px;
    text-align: center;
  }

  .host_img {
    width: 32px;
    height: 32px;
    margin: 9% 0;
  }

  .logements .dropdown_details {
    flex-direction: column;
    gap: 20px;
  }

  .logements .dropdown_details .Collapse_container {
    width: 100%;
  }

  .logements .dropdown_details .Collapse_container .content {
    font-size: 12px;
  }

  .collapse {
    height: 32px;
    font-size: 13px;
  }
}
